{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center recommended-heading">About Dorm Cooking</h1>
    
    <div class="text-center">
        <img src="https://miro.medium.com/v2/resize:fit:4800/format:webp/0*3qIWoFnZgVUtsXB-.png" alt="Dorm Cooking" class="img-fluid mb-3" style="max-width: 40%;">
    </div>

    <p class="text-center ingredient-item" style="font-size: 1.2rem;">
        Dorm Cooking was created as a simple and practical resource to help college 
        students easily learn how to make quick, affordable meals with minimal equipment. 
        Our website offers clear lists of necessary ingredients and tools, step-by-step instructions, 
        and helpful video tutorials to make cooking in a dorm room stress-free and fun. Dorm 
        Cooking was developed as a final project for a Columbia University UI Design course by 
        Andy Zhou, Jonas Yukins, Obiora Okeke, and Eileen Gao. Our goal is to empower students to 
        enjoy homemade meals, even with limited space and resources.
    </p>
    
</div>
{% endblock %}