{% extends "layout.html" %}

{% block content %}
<div class="text-center mt-5">
    <h1 class="recommended-heading">Dorm Cooking</h1>
    <div class="text-center" style="color: #103E20;">
        Learn to make a simple, healthy meal using everyday ingredients from your kitchen!
    </div>
    <br>

    <div class="d-flex justify-content-center gap-4 flex-wrap">

        {% for recipe_id, recipe in random_recipes %}
        <div class="recipe-card" data-recipe-id="{{ recipe_id }}">
            <img src="{{ url_for('static', filename='img/' + recipe.image) }}" class="recipe-img" alt="{{ recipe.name }}">
            <div class="recipe-details">
                <div class="recipe-title">{{ recipe.name }}</div>
                <div class="recipe-info">
                    <p>{{ recipe.time }}</p>
                    <p><strong>Cost:</strong> {{ recipe.cost }}</p>
                    <p><strong>Difficulty:</strong> {{ recipe.difficulty }}</p>
                    <p><strong>Genre:</strong> {{ recipe.genre }}</p>
                </div>
                <a href="/recipes/{{ recipe_id }}" class="btn btn-success mt-2">Start Cooking</a>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
