<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jQuery & Bootstrap -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>

    <title>Dorm Cooking</title>
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand bold darkGreyWord" href="/" aria-label="Dorm Cooking">Dorm Cooking</a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav" aria-label="Main Navigation">
                    <a class="btn ms-3 accentColor" href="/about" aria-label="About">About</a>
                    <a class="btn ms-3 accentColor" href="/recipes" aria-label="Recipes">Recipes</a>
                    <a class="btn ms-3 accentColor" href="/quiz" aria-label="Quiz">Quiz</a>
                </div>
            </div>
        </div>
    </nav>
</header>



<main class="container" aria-labelledby="content-title">  
    {% block content %}
    {% endblock %}
</main>

</body>
</html>
